//DEFINE FONT FAMILY MIXINS
/*
@mixin fontExample {
  font-family: "neue-haas-unica",sans-serif;
}*/

@mixin fontSans {
  font-family: sans-serif;
}
@mixin fontSerif {
  font-family: serif;
}

@mixin italic {
  font-style: italic;
}
@mixin weightLight {
  font-weight: 300!important;
}
@mixin weightRegular {
  font-weight: 400!important;
}
@mixin weightMedium {
  font-weight: 500!important;
}
@mixin weightBold {
  font-weight: 600!important;
}

/* BASIC SITE SPACING AND WIDTHS */
$siteMaxWidth: 1600px;
$containerNarrowWidth: 1300px;
$baseFontSize: 16px;
$sectionPadding: 150px;
$mobilePadding: 20px;
$desktopPadding: 40px;

$sectionVerticalPaddingDesktop: 60px;
$sectionVerticalPaddingMobile: 30px;

/* COLORS */
$blue: #5084C3;
$black: #212121;
$white: #ffffff;
$gray: #D5D5D5;

@mixin container {
  margin: 0 auto;
  @include breakpoint(small) {
    padding-left: $mobilePadding;
    padding-right: $mobilePadding;
    max-width: 100vw;
  }
  @include breakpoint(medium-up) {
    max-width: $siteMaxWidth;
  }
}
@mixin containerNarrow {
  max-width:$containerNarrowWidth;
  margin-right: auto;
  margin-left: auto;
}
@mixin containerMargins {
  margin: 0 auto;
  @include breakpoint(small) {
    margin-left: $mobilePadding;
    margin-right: $mobilePadding;
    max-width: 100vw;
  }
  @include breakpoint(medium-up) {
    margin-left: $desktopPadding;
    margin-right: $desktopPadding;
    max-width: $siteMaxWidth;
  }
  @include breakpoint(wide-up) {
    margin-left: auto;
    margin-right: auto;
    max-width: $siteMaxWidth;
  }
}
@mixin sectionSizing {
  @include breakpoint(small) {
    padding: $sectionVerticalPaddingMobile 0;
    max-width: 100vw;
  }
  @include breakpoint(medium-up) {
    padding: $sectionVerticalPaddingDesktop 0;
  }
}

.container {
  @include container;
  &.narrow{
    @include containerNarrow;
  }
}

.container-margins {
  @include containerMargins;
}

.section,
section {
  @include sectionSizing;
}

//TYPOGRAPHY
//inherits a lot from svbstrate, define everything in EMs

a {
  text-decoration: none;
}

//SHOGUN OVERRIDES
/*
div[class^="shg"] {
  h1 {
    @include h1("!important");
  }

  h2 {
    @include h2("!important");
  }

  h3 {
    @include h3("!important");
  }

  h4 {
    @include h4("!important");
  }

  p {
    @include p("!important")
  }
}
*/
